<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
  <head>
    {% block head %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{% block title %}{{ SITENAME|striptags }}{% endblock title %}</title>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link rel="stylesheet" href="{{ SITEURL }}/theme/style.css">
    {% endblock %}
  </head>
  <body>
    <header>
      {% block header %}
        <hgroup>
          <h1>
            <a href="{{ SITEURL }}/">{{ SITENAME }}</a>
          </h1>
          {% if SITESUBTITLE %}
            <p>{{ SITESUBTITLE }}</p>
          {% endif %}
        </hgroup>
      {% endblock header %}
      {% block nav %}
        <nav>
          <ul>
            {% for title, link in MENUITEMS %}
              <li><a href="{{ link }}">{{ title }}</a></li>
            {% endfor %}
            {% if DISPLAY_PAGES_ON_MENU %}
              {% for p in pages %}
                <li><a href="{{ SITEURL }}/{{ p.url }}" {% if p==page %} aria-current="page" {% endif %}>{{ p.title }}</a></li>
              {% endfor %}
            {% endif %}
            {% if DISPLAY_CATEGORIES_ON_MENU %}
              {% for cat, null in categories %}
                <li><a href="{{ SITEURL }}/{{ cat.url }}" {% if cat==category %} aria-current="page" {% endif %}>{{ cat}}</a></li>
              {% endfor %}
            {% endif %}
          </ul>
        </nav>
      {% endblock nav %}
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
    <footer>
      <p>&copy; {{ COPYRIGHT_YEAR }} {{ COPYRIGHT_NAME }}</p>
      <p>Content licensed under the Creative Commons
        attribution-noncommercial-sharealike License.</p>
    </footer>
  </body>
</html>

{# Local Variables: #}
{# mode: jinja2 #}
{# End: #}
