@import url(./fonts.css);

html, body, div, span, applet, object, iframe, p, blockquote,
a, abbr, acronym, address, big, code, del, dfn, em, font, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, th {
    border: 0px none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0px;
    outline: 0px none;
    padding: 0px;
    vertical-align: baseline;
}

h1, h2, h3 {
    font-weight: inherit;
}

h4, h5, h6, h7, h8, h9 {
    font-weight: bolder;
}


body {
    color: #444;
    font-family: Merriweather, Georgia, "Times New Roman", serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 29.7px;
}

a {
    color: #444;
}

#container {
    position: relative;
    margin: 59.4px 0px 0px;
    padding: 0px;
    position: relative;
}

header[role=banner] {
    position: relative;
    top: -59.4px;
    background: none repeat scroll 0% 0% #333;
    margin: 0px;
    width: 100%;
    z-index: 100;
    padding: 22.275px 0px;
}

header[role=banner] hgroup {
    margin: 0px auto;
    max-width: 1008px;
}

header[role=banner] hgroup h1 {
    max-width: 66%;
    font-size: 1.27778em;
    line-height: 1.2913em;
}

header[role=banner] a, header[role=banner] a:focus, header[role=banner] a:active {
    text-decoration: none;
    color: #FFF;
}

h1, h2, h2, {
   font-weight: normal;
}

footer, .main-container {
    margin: 0px auto;
    max-width: 829px;
    padding: 36px 36px 0px;
}

h1 a {
    text-decoration: none;
}

a:hover, a:focus, a:active {
    color: #666;
}

a:hover, a:active {
    outline: 0px none;
}

article {
    margin-bottom: 20px;
}

article h1 {
    font-size: 2.61111em;
    line-height: 1.26383em;
    text-align: center;
}

article h1, article p, article ol, article ul, article dl, article table {
    margin-bottom: 1em;
}

article ol, article ul, article dl {
    margin-left: 1em;
}

article .postmeta {
    font-size: 80%;
}

.postmeta div {
    display: inline;
    margin-right: 0.5em;
}


footer {
    text-align: center;
    margin-top: 35px;
    padding: 1em;
    border-top: 1px solid #999;
}

nav {
    left: 0px;
    transition: all 0.5s ease-in-out 0s;
}

#toggle-nav {
    cursor: pointer;
    transition: all 0.5s ease-in-out 0s;
    position: relative;
    text-align: center;
    width: 100%;
    height: 0px;
    z-index: 98;
}

#toggle-nav:before {
    background: none repeat scroll 0% 0% #252525;
    color: #FFF;
    content: "ï™";
    display: block;
    padding: 7.425px;
    position: fixed;
    top: 50%;
    transition: all 0.5s ease-in-out 0s;
    left: 0px;
}

#toggle-nav:before {
    left: 260px;
    transition: all 0.5s ease-in-out 0s;
}

.screen-reader-text {
    position: absolute;
    left: -1000em;
}
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}


.archive_link {
    font-size: 85%;
    text-align: center;
    margin-top: 1.1em;
}

.separator {
    margin-bottom: 3em;
}

table.footnote td {
    padding-right: 0.85em;
}

.sidebar-title, p.rubric {
    font-size: 125%;
    text-align: center;
    font-weight: inherit;
}

.sidebar {
    margin: 0 2em 2em;
    width: 50%;
    float: right;
    border-radius: .25em;
    background: #DDD;
    overflow: hidden;
}

.sidebar > * {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.sidebar > .sidebar-title {
    background: #333;
    color: #fff;
    padding: .15em 0;
    margin: 0 0 1em 0;
}

.left {float: left;
}
.right {float: right;}

.related {margin-top: 1.5em;}
.related li {list-style-type: none}
.related li {max-width: 45%; margin: 0; padding: 0}

.figure, blockquote {
    margin-left: 1em;
    font-style: italic;
    margin-bottom: 1em;
}

@media screen and (max-width: 800px) {
    body {
	font-size: 0.88889em;
	line-height: 1.85625em;
    }
}


/*  Code highlighting */

.highlight {
    overflow: auto;
    margin-bottom: 1em;
}

.highlight pre {
    word-wrap: inherit;
    white-space: pre;
}

.highlight .hll {
    width: 100%;
    display: block;
}

span.pre {
    font-family: monospace;
}
