pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.pygment-highlight .hll { background-color: #ffffcc }
.pygment-highlight .pygments-c { color: #080; font-style: italic } /* Comment */
.pygment-highlight .pygments-err { border: 1px solid #F00 } /* Error */
.pygment-highlight .pygments-k { color: #A2F; font-weight: bold } /* Keyword */
.pygment-highlight .pygments-o { color: #666 } /* Operator */
.pygment-highlight .pygments-ch { color: #080; font-style: italic } /* Comment.Hashbang */
.pygment-highlight .pygments-cm { color: #080; font-style: italic } /* Comment.Multiline */
.pygment-highlight .pygments-cp { color: #080 } /* Comment.Preproc */
.pygment-highlight .pygments-cpf { color: #080; font-style: italic } /* Comment.PreprocFile */
.pygment-highlight .pygments-c1 { color: #080; font-style: italic } /* Comment.Single */
.pygment-highlight .pygments-cs { color: #080; font-weight: bold } /* Comment.Special */
.pygment-highlight .pygments-gd { color: #A00000 } /* Generic.Deleted */
.pygment-highlight .pygments-ge { font-style: italic } /* Generic.Emph */
.pygment-highlight .pygments-ges { font-weight: bold; font-style: italic } /* Generic.EmphStrong */
.pygment-highlight .pygments-gr { color: #F00 } /* Generic.Error */
.pygment-highlight .pygments-gh { color: #000080; font-weight: bold } /* Generic.Heading */
.pygment-highlight .pygments-gi { color: #00A000 } /* Generic.Inserted */
.pygment-highlight .pygments-go { color: #888 } /* Generic.Output */
.pygment-highlight .pygments-gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.pygment-highlight .pygments-gs { font-weight: bold } /* Generic.Strong */
.pygment-highlight .pygments-gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.pygment-highlight .pygments-gt { color: #04D } /* Generic.Traceback */
.pygment-highlight .pygments-kc { color: #A2F; font-weight: bold } /* Keyword.Constant */
.pygment-highlight .pygments-kd { color: #A2F; font-weight: bold } /* Keyword.Declaration */
.pygment-highlight .pygments-kn { color: #A2F; font-weight: bold } /* Keyword.Namespace */
.pygment-highlight .pygments-kp { color: #A2F } /* Keyword.Pseudo */
.pygment-highlight .pygments-kr { color: #A2F; font-weight: bold } /* Keyword.Reserved */
.pygment-highlight .pygments-kt { color: #0B0; font-weight: bold } /* Keyword.Type */
.pygment-highlight .pygments-m { color: #666 } /* Literal.Number */
.pygment-highlight .pygments-s { color: #B44 } /* Literal.String */
.pygment-highlight .pygments-na { color: #B44 } /* Name.Attribute */
.pygment-highlight .pygments-nb { color: #A2F } /* Name.Builtin */
.pygment-highlight .pygments-nc { color: #00F } /* Name.Class */
.pygment-highlight .pygments-no { color: #800 } /* Name.Constant */
.pygment-highlight .pygments-nd { color: #A2F } /* Name.Decorator */
.pygment-highlight .pygments-ni { color: #999; font-weight: bold } /* Name.Entity */
.pygment-highlight .pygments-ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.pygment-highlight .pygments-nf { color: #00A000 } /* Name.Function */
.pygment-highlight .pygments-nl { color: #A0A000 } /* Name.Label */
.pygment-highlight .pygments-nn { color: #00F; font-weight: bold } /* Name.Namespace */
.pygment-highlight .pygments-nt { color: #008000; font-weight: bold } /* Name.Tag */
.pygment-highlight .pygments-nv { color: #B8860B } /* Name.Variable */
.pygment-highlight .pygments-ow { color: #A2F; font-weight: bold } /* Operator.Word */
.pygment-highlight .pygments-w { color: #BBB } /* Text.Whitespace */
.pygment-highlight .pygments-mb { color: #666 } /* Literal.Number.Bin */
.pygment-highlight .pygments-mf { color: #666 } /* Literal.Number.Float */
.pygment-highlight .pygments-mh { color: #666 } /* Literal.Number.Hex */
.pygment-highlight .pygments-mi { color: #666 } /* Literal.Number.Integer */
.pygment-highlight .pygments-mo { color: #666 } /* Literal.Number.Oct */
.pygment-highlight .pygments-sa { color: #B44 } /* Literal.String.Affix */
.pygment-highlight .pygments-sb { color: #B44 } /* Literal.String.Backtick */
.pygment-highlight .pygments-sc { color: #B44 } /* Literal.String.Char */
.pygment-highlight .pygments-dl { color: #B44 } /* Literal.String.Delimiter */
.pygment-highlight .pygments-sd { color: #B44; font-style: italic } /* Literal.String.Doc */
.pygment-highlight .pygments-s2 { color: #B44 } /* Literal.String.Double */
.pygment-highlight .pygments-se { color: #B62; font-weight: bold } /* Literal.String.Escape */
.pygment-highlight .pygments-sh { color: #B44 } /* Literal.String.Heredoc */
.pygment-highlight .pygments-si { color: #B68; font-weight: bold } /* Literal.String.Interpol */
.pygment-highlight .pygments-sx { color: #008000 } /* Literal.String.Other */
.pygment-highlight .pygments-sr { color: #B68 } /* Literal.String.Regex */
.pygment-highlight .pygments-s1 { color: #B44 } /* Literal.String.Single */
.pygment-highlight .pygments-ss { color: #B8860B } /* Literal.String.Symbol */
.pygment-highlight .pygments-bp { color: #A2F } /* Name.Builtin.Pseudo */
.pygment-highlight .pygments-fm { color: #00A000 } /* Name.Function.Magic */
.pygment-highlight .pygments-vc { color: #B8860B } /* Name.Variable.Class */
.pygment-highlight .pygments-vg { color: #B8860B } /* Name.Variable.Global */
.pygment-highlight .pygments-vi { color: #B8860B } /* Name.Variable.Instance */
.pygment-highlight .pygments-vm { color: #B8860B } /* Name.Variable.Magic */
.pygment-highlight .pygments-il { color: #666 } /* Literal.Number.Integer.Long */
