pre { line-height: 125%; }
td.linenos .normal { color: #37474F; background-color: #263238; padding-left: 5px; padding-right: 5px; }
span.linenos { color: #37474F; background-color: #263238; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #607A86; background-color: #263238; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #607A86; background-color: #263238; padding-left: 5px; padding-right: 5px; }
.pygment-highlight .hll { background-color: #2C3B41 }
.pygment-highlight .pygments-c { color: #546E7A; font-style: italic } /* Comment */
.pygment-highlight .pygments-err { color: #FF5370 } /* Error */
.pygment-highlight .pygments-esc { color: #89DDFF } /* Escape */
.pygment-highlight .pygments-g { color: #EFF } /* Generic */
.pygment-highlight .pygments-k { color: #BB80B3 } /* Keyword */
.pygment-highlight .pygments-l { color: #C3E88D } /* Literal */
.pygment-highlight .pygments-n { color: #EFF } /* Name */
.pygment-highlight .pygments-o { color: #89DDFF } /* Operator */
.pygment-highlight .pygments-p { color: #89DDFF } /* Punctuation */
.pygment-highlight .pygments-ch { color: #546E7A; font-style: italic } /* Comment.Hashbang */
.pygment-highlight .pygments-cm { color: #546E7A; font-style: italic } /* Comment.Multiline */
.pygment-highlight .pygments-cp { color: #546E7A; font-style: italic } /* Comment.Preproc */
.pygment-highlight .pygments-cpf { color: #546E7A; font-style: italic } /* Comment.PreprocFile */
.pygment-highlight .pygments-c1 { color: #546E7A; font-style: italic } /* Comment.Single */
.pygment-highlight .pygments-cs { color: #546E7A; font-style: italic } /* Comment.Special */
.pygment-highlight .pygments-gd { color: #FF5370 } /* Generic.Deleted */
.pygment-highlight .pygments-ge { color: #89DDFF } /* Generic.Emph */
.pygment-highlight .pygments-ges { color: #FFCB6B } /* Generic.EmphStrong */
.pygment-highlight .pygments-gr { color: #FF5370 } /* Generic.Error */
.pygment-highlight .pygments-gh { color: #C3E88D } /* Generic.Heading */
.pygment-highlight .pygments-gi { color: #C3E88D } /* Generic.Inserted */
.pygment-highlight .pygments-go { color: #546E7A } /* Generic.Output */
.pygment-highlight .pygments-gp { color: #FFCB6B } /* Generic.Prompt */
.pygment-highlight .pygments-gs { color: #FF5370 } /* Generic.Strong */
.pygment-highlight .pygments-gu { color: #89DDFF } /* Generic.Subheading */
.pygment-highlight .pygments-gt { color: #FF5370 } /* Generic.Traceback */
.pygment-highlight .pygments-kc { color: #89DDFF } /* Keyword.Constant */
.pygment-highlight .pygments-kd { color: #BB80B3 } /* Keyword.Declaration */
.pygment-highlight .pygments-kn { color: #89DDFF; font-style: italic } /* Keyword.Namespace */
.pygment-highlight .pygments-kp { color: #89DDFF } /* Keyword.Pseudo */
.pygment-highlight .pygments-kr { color: #BB80B3 } /* Keyword.Reserved */
.pygment-highlight .pygments-kt { color: #BB80B3 } /* Keyword.Type */
.pygment-highlight .pygments-ld { color: #C3E88D } /* Literal.Date */
.pygment-highlight .pygments-m { color: #F78C6C } /* Literal.Number */
.pygment-highlight .pygments-s { color: #C3E88D } /* Literal.String */
.pygment-highlight .pygments-na { color: #BB80B3 } /* Name.Attribute */
.pygment-highlight .pygments-nb { color: #82AAFF } /* Name.Builtin */
.pygment-highlight .pygments-nc { color: #FFCB6B } /* Name.Class */
.pygment-highlight .pygments-no { color: #EFF } /* Name.Constant */
.pygment-highlight .pygments-nd { color: #82AAFF } /* Name.Decorator */
.pygment-highlight .pygments-ni { color: #89DDFF } /* Name.Entity */
.pygment-highlight .pygments-ne { color: #FFCB6B } /* Name.Exception */
.pygment-highlight .pygments-nf { color: #82AAFF } /* Name.Function */
.pygment-highlight .pygments-nl { color: #82AAFF } /* Name.Label */
.pygment-highlight .pygments-nn { color: #FFCB6B } /* Name.Namespace */
.pygment-highlight .pygments-nx { color: #EFF } /* Name.Other */
.pygment-highlight .pygments-py { color: #FFCB6B } /* Name.Property */
.pygment-highlight .pygments-nt { color: #FF5370 } /* Name.Tag */
.pygment-highlight .pygments-nv { color: #89DDFF } /* Name.Variable */
.pygment-highlight .pygments-ow { color: #89DDFF; font-style: italic } /* Operator.Word */
.pygment-highlight .pygments-pm { color: #89DDFF } /* Punctuation.Marker */
.pygment-highlight .pygments-w { color: #EFF } /* Text.Whitespace */
.pygment-highlight .pygments-mb { color: #F78C6C } /* Literal.Number.Bin */
.pygment-highlight .pygments-mf { color: #F78C6C } /* Literal.Number.Float */
.pygment-highlight .pygments-mh { color: #F78C6C } /* Literal.Number.Hex */
.pygment-highlight .pygments-mi { color: #F78C6C } /* Literal.Number.Integer */
.pygment-highlight .pygments-mo { color: #F78C6C } /* Literal.Number.Oct */
.pygment-highlight .pygments-sa { color: #BB80B3 } /* Literal.String.Affix */
.pygment-highlight .pygments-sb { color: #C3E88D } /* Literal.String.Backtick */
.pygment-highlight .pygments-sc { color: #C3E88D } /* Literal.String.Char */
.pygment-highlight .pygments-dl { color: #EFF } /* Literal.String.Delimiter */
.pygment-highlight .pygments-sd { color: #546E7A; font-style: italic } /* Literal.String.Doc */
.pygment-highlight .pygments-s2 { color: #C3E88D } /* Literal.String.Double */
.pygment-highlight .pygments-se { color: #EFF } /* Literal.String.Escape */
.pygment-highlight .pygments-sh { color: #C3E88D } /* Literal.String.Heredoc */
.pygment-highlight .pygments-si { color: #89DDFF } /* Literal.String.Interpol */
.pygment-highlight .pygments-sx { color: #C3E88D } /* Literal.String.Other */
.pygment-highlight .pygments-sr { color: #89DDFF } /* Literal.String.Regex */
.pygment-highlight .pygments-s1 { color: #C3E88D } /* Literal.String.Single */
.pygment-highlight .pygments-ss { color: #89DDFF } /* Literal.String.Symbol */
.pygment-highlight .pygments-bp { color: #89DDFF } /* Name.Builtin.Pseudo */
.pygment-highlight .pygments-fm { color: #82AAFF } /* Name.Function.Magic */
.pygment-highlight .pygments-vc { color: #89DDFF } /* Name.Variable.Class */
.pygment-highlight .pygments-vg { color: #89DDFF } /* Name.Variable.Global */
.pygment-highlight .pygments-vi { color: #89DDFF } /* Name.Variable.Instance */
.pygment-highlight .pygments-vm { color: #82AAFF } /* Name.Variable.Magic */
.pygment-highlight .pygments-il { color: #F78C6C } /* Literal.Number.Integer.Long */
